body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #f4f6f8;
}

header {
    background-color: #512da8;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ffcc00;
}

.content {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

button {
    padding: 10px 20px;
    background-color: #512da8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #311b92;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
